--- yaml
layout: 'default'
title: 'Home'
---

h1 Martin Hansen
p.byline Frontend developer
!= getTwitterFollowButton()
|
.clearfix!= getGithubFollowButton()


nav.linklist
	each doc in getCollection('posts').toJSON()
		li
			h2
				a(href=doc.url)= doc.title

